.logo {
  padding: 16px 24px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
}

.logoCollapsed {
  padding: 16px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
